@charset "UTF-8";
/*CSS for 10COD_CLim*/

body
{
  color:#000000; /*black for text*/
  background-color: #B2EBF2; /*insert #B2EBF2*/
  font-family: "comic sans ms", geneva, sans-serif ; /*insert comic sans ms, geneva, sans-serif as the 3 chosen fonts*/
  margin:10px;
  border:3px solid #993399; /*insert #993399*/
  padding:0px;
}

#titlebar
{
  color:#FFFFFF; /*white text*/
  background-color: #000080; /*insert #000080*/
  height:110px;
  margin:5px;
  border:5px solid #FFF9C4; /*insert #FFF9C4*/
  padding:7px;
}
  #table3box /*declare table in titlebar*/
  {
    width:100%;
    border:2px solid #FFFF00; /*insert #FFFF00*/
  }
  th
  {
    border:2px solid #F4511E; /*insert #F4511E*/
    text-align: center;
    font-size:35px;
    padding:5px;
  }

#navigation
{
  position:absolute;
  left:12px;
  top:152px;
  height:403px;
  width:150px;
  margin:5px;
  border:5px solid #808000; /*insert #808000*/
  padding:8px;
}

#content
{
  height:400px;
  margin-left:185px;
  margin-right:185px;
  border:5px solid #1B5E20; /*inseret #1B5E20*/
  padding:10px;
  font-size:16px;
}
  h3
  {
    text-align:center;
  }
  h4
  {
    text-align:left;
  }

#links
{
  position:absolute;
  right:12px;
  top:152px;
  height:403px;
  width:150px;
  margin:5px;
  border:5px solid #808000; /*insert #808000*/
  padding:8px;
}

#footer
{
  background-color: #90EE90; /*insert #90EE90*/
  height:25px;
  margin:5px;
  border:5px dotted #FF66FF; /*insert #FF66FF*/
  padding:8px;
}

#table2box /*declare table in footer*/
{
  width:100%;
  border:2px solid #900C3F; /*insert #900C3F*/
}
  #td1
  {
    text-align:right;
    font-size:14px;
    padding:1px;
  }
  #td2
  {
    text-align:right;
    font-size:10px;
    padding:2px;
  }

li /*formating the link buttons*/
{
  list-style-type:square;
}

a:link
{
  text-decoration:underline;
}
a:visited
{
  color:#008000; /*green*/
}
a:hover
{
  color:#FF0000; /*red*/
}
a:active
{
  color:#00FF00; /*lime*/
}